* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #ffffff;
    color: #000000;
    font-size: ;
    line-height: 1.5;
}

a {
    /* display: block; */
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    height: 3.3rem;
    max-width: 98%;
    margin: 0 auto;
}


/* Nav */

.main-nav {
    width: 98%;
    position: fixed;
    top: 0;
    z-index: 1400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .8);
    backdrop-filter: blure(10rem);
    padding: 0 2.2rem;
}

.main-nav .logo {
    width: 90px;
    padding-left: 20px;
    padding-top: 2px;
}

.main-nav ul {
    display: flex;
}

.main-nav ul li {
    padding: 0 20px;
}

.main-nav ul li a {
    padding-bottom: 2px;
}

.main-nav ul li a:hover {
    border-bottom: 2px solid #ffffff;
}

.main-nav ul li .main-menu {
    flex: 1;
    margin-left: 20px;
    transition: opacity .5s;
}

.nav {
    display: none;
}

.drop ul li:hover .nav {
    margin-top: 1rem;
    display: block;
    text-decoration: none;
    position: absolute;
}

.drop ul li:hover .nav ul {
    display: block;
}

.drop ul li:hover .nav ul li {
    margin-top: 0;
    width: 19.7rem;
    padding: .5rem;
    border-bottom: 0.2rem dotted #000000;
    background: transparent;
    border-radius: 0;
    background-color: rgba(0, 0, 0, .8);
    position: relative;
    text-align: left;
}

.drop ul li:hover .nav ul li:last-child {
    border-bottom: none;
}


/* Showcase */

.showcase {
    margin-top: 3.5rem;
    width: 100%;
    height: 45.7rem;
    background: url('woofer-1885354_960_720.webp') no-repeat center center/cover;
    overflow: hidden;
}


/* text on home page */

.showcase h3 {
    text-align: center;
    padding-top: 5.5rem;
    font-size: 2.5rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}

.showcase p {
    font-size: 1.5rem;
    padding-top: 1.2rem;
    text-align: center;
    line-height: 1.07143;
    letter-spacing: -.005rem;
}


/* Showcase */

.btn {
    font-weight: bold;
    text-align: center;
    margin-top: 28rem;
}

.btn:hover {
    opacity: 0.9;
}

.btn-1 {
    width: 16.5rem;
    cursor: pointer;
    display: inline-block;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-2 {
    width: 16.5rem;
    cursor: pointer;
    display: inline-block;
    background-color: #ffffff;
    color: #000000;
    display: inline-block;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-2:nth-child(2) {
    margin-left: 3rem;
}

.btn-1:hover {
    border-bottom: 3px solid #ffffff;
}

.btn-2:hover {
    border-bottom: 3px solid #000000;
}